<form [formGroup]="formulario" (ngSubmit)="calcular()">
  <h2>Datos Personales</h2>

  <p>Nombre</p>
  <input type="text" formControlName="nombre">

  <p>Apellido Paterno</p>
  <input type="text" formControlName="APaterno">

  <p>Apellido Materno</p>
  <input type="text" formControlName="AMaterno">

  <p>Día</p>
  <input type="number" formControlName="dia">

  <p>Mes</p>
  <input type="number" formControlName="mes">

  <p>Año</p>
  <input type="number" formControlName="anio">

  <p>Sexo</p>
  <input type="radio" formControlName="sexo" value="M"> Masculino
  <input type="radio" formControlName="sexo" value="F"> Femenino

  <br><br>
  <button type="submit">Calcular</button>
  <button type="reset">Limpiar</button>
</form>

<p>Hola <b>{{ nombre }}</b></p>
<p>Edad: <b>{{ edad }}</b></p>
<p>Signo chino: <b>{{ signo }}</b></p>
<img [src]="signoImg">
